<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Insert title here</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <label th:text="${messages}"/>
        </div>
        <div class="col-md-12 column">
            <label th:text="${'欢迎使用张家港市金融机构在线申报系统 V1.0'}"/>

            <ul class="nav nav-pills">
                <li role="presentation"><a th:href="@{'/login'}" class="href" target="_self">请登录</a></li>
            </ul>

        </div>
    </div>
</div>
</body>
</html>